@import url('https://fonts.googleapis.com/css2?family=La+Belle+Aurore&family=Water+Brush&display=swap');


* {
  margin:0px;
  padding:0px;
}
a {
  text-decoration: none;
}

header {
  background-color: #cce3de;
  padding: 30px;
  display:flex;
  color: #6b9080;
  justify-content:space-between;
}

.nav-links {
  display:flex;
}

nav {
  align-self:center;
  font-size:1.5rem;
  font-family:sans-serif;
}

.nav-links a {
  text-decoration: none;
  color:#6b9080;
}

.nav-links a:hover {
  color:#4c6e5f;
  font-weight:700;
}

.nav-links li {
  list-style: none;
  margin:auto 20px;
}

h1 {
  font-family: 'Water Brush';
  font-size:3rem;
}

.hero-image img{
  width:100%;
}

/* --------------CALENDAR------------------- */
.calendar-div {
  display:flex;
  justify-content:center;
  
}

.calendar {
  background-color:#cce3de;
  padding:50px;
  border-radius:10px;
  font-family:sans-serif;
}

.month {
  text-align:center;
  background-color:#cce3de;
  font-size:2rem;
  height:50px;
  color:#6b9080;
}

#budget {
  padding:20px;
  height:50px;
  background-color:#cce3de;
}

td {
  width:150px;
  height:150px;
  background-color:#f5fffd;
}

.date {
  text-align:right;
}

.calendar-cell {
  display:flex;
  padding: 10px;
  height:100%;
  align-items: flex-start;
  flex-direction:column;
}

.d-o-w {
  display:flex;
  justify-content:space-between;
  width:100%;
  padding-bottom:20px;
  color:#4c6e5f;
}

.prev-month, 
.next-month {
  opacity:30%;
}

.event {
  display:flex;
  font-weight:200;
  padding:5px;
  text-align:center;
  margin-left:auto;
  margin-right:auto;
  border-radius:10px;
}

.revision {
  color: purple;
  background-color: plum;
}

.revision:hover {
  color: white;
}

.bootcamp {
  background-color:#ffd09a;
  color: #ff8800;
}

.bootcamp:hover {
  color:white;
}

.gardening {
  color: #cce3de;
  background: #729a72;
}

.gardening:hover {
  color:white;
}

.spending {
  color:#bfd8bd;
  display:flex;
  text-align:right;
  font-weight:200;
  align-self:flex-end;
}

.current-date {
  border: black;
}